elder src/Simple Asset CSharp/SIIT.SimpleAssetRegistrationStation/SIIT.SimpleAssetRegistrationStation/Connected Services/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/Asset" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Asset" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Asset" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MorningCheck">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MorningCheckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MorningCheckResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="arg1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="arg2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Asset" minOccurs="0" name="TestListResult" nillable="true" type="q3:ArrayOfColumnBasic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchByTid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchByTidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Asset" minOccurs="0" name="SearchByTidResult" nillable="true" type="q4:ResultModelType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchByFid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchByFidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Asset" minOccurs="0" name="SearchByFidResult" nillable="true" type="q5:ResultModelType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Save">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RoomCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Epc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Tid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Fid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AssetLabel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AssetType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AssetDescription" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SystemId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Asset" minOccurs="0" name="SaveResult" nillable="true" type="q6:ResultModelType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>